#about-banner{
    height: 25%;
    width: 100%;
    margin-top: 65px;
    background-image: url(img/banner-about.png);
    background-position: center;
    font-family: arial;
    color: white;
    padding: 8% 0;
}
#about-banner h1{
    font-weight: bold;
    font-size: calc(3vw + 1rem);
}
#about-banner p{
    font-weight: bold;
    font-size: calc(.5vw + .5rem);
}
#tentang{
    font-family: arial;
}
#tentang h3{
    color: darkblue;
    font-weight: lighter;
    font-size: calc(1vw + 1rem);
}
#tentang p{
    color: grey;
    font-size: calc(.5vw + .7rem);
}
#visi-misi{
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 45px;
    color: white;
    font-family: arial;
    font-size: calc(.5vw + .7rem);
    padding: 4%;
    height: 25%;
    width: 100%;
    background-image: url(img/banner-visi.png);
    background-position: center;
}
#visi-misi h3{
    font-weight: bold;
    font-size: calc(1vw + 1rem);
}
#struktur{
    overflow: hidden;
    font-family: arial;
    margin-top: 50px;
    width: 100%;
    height: 30%;
}
#struktur h3{
    color: darkblue;
    font-size: calc(1vw + 1rem);
    font-weight: lighter;
    margin-bottom: 50px;
}