/* #galery-banner{
    width: 100%;
    margin: 78px 0 75px 0;
}
.galery-title h2{
    text-align: center;
    font-size: calc(1vw + 1.5rem);
    color: darkblue;
    font-weight: lighter;
    font-family: arial;
}
.galery{
    margin: 75px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
.galery .isi{
    height: 385px;
    width: 375px;
    border-radius: .5rem;
    overflow: hidden;
}
.thumb-isi{
    margin: 0 0 10px 0;
}
.judul-isi a{
    text-decoration: none;
    color: darkblue;
}
.judul-isi a h5{
    font-size: calc(0.8vw + 0.5rem);
    font-family: arial;
}
.garis-horizontal{
    width: 100%;
    height: 3rem;
}
.tgl-isi {
    line-height: 3rem;
    float: left;
}
.share-btn {
    height: 3rem;
    width: 3rem;
    float: right;
    margin: 0 0 10px 0;
}
.share-btn .btn{
    text-align: center;
    color: darkblue;
    border-radius: 0;
    border: none;
    font-size: 1.5rem;
}
.galery-foot{
    position: sticky;
    top: 100%;
    background-color: aqua;
    width: 100%;
    height: 3%;
    background-image: linear-gradient(90deg,aqua,#0d6efd);
} */
#galery{
    margin: 125px 0 0 0;
}
#galery .container .galery-title h3{
    font-size: calc(1vw + 1rem);
    margin-bottom: 50px;
    text-align: center;
    font-weight: lighter;
    color: darkblue;
}
.container-content{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.galery-content{
    height: 300px;
    width: 400px;
    transition: .3s;
}
.galery-content:hover .text-box{
    display: block;
}
.galery-content .text-box{
    position: relative;
    margin: auto;
    top: -98px;
    display: none;
    padding: 15px;
    background-color: white;
    max-height: 90px;
    max-width: 95%;
    opacity: 90%;
    transition: .3s;
}
.text-box button{
    background-color: transparent;
    float: right;
    border: none;
    color: darkblue;
    transition: .3s;
}
.text-box button:hover{
    color: #0d6efd;
}
.text-box button i{
    font-size: 1rem;
    float: right;
}
.text-box .thumb-title h5{
    color: darkblue;
    font-size: 1.2rem;
    font-weight: bold;
}
.text-box .sub-title p{
    color: gray;
    font-size: .8rem;
    font-weight: lighter;
}