#karir{
    margin: 150px 0 0 0;
}
.title-karir h3{
    font-size: calc(1vw + 1rem);
    margin-bottom: 50px;
    text-align: center;
    font-weight: lighter;
    color: darkblue;
}
.konten-karir .isi-konten{
    min-height: 250px;
    width: 100%;
    border: solid 1px;
    border-color: gray;
    padding: 40px;
}
.isi-konten .title-loker {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title-loker .title-konten{
    min-width: 90%;
}
.title-konten h4{
    font-size: calc(.7vw + 1rem);
    font-weight: bold;
    color: darkblue;
}
.isi-konten .title-loker .tanggal-upload{
    font-size: calc(.2vw + .8rem);
    opacity: 50%;
    min-width: 10%;
    height: 20px;
    line-height: 20px;
    display: flex;
}
.tanggal-upload i{
    padding: 0;
    margin-right: 10px;
    line-height: 18px;
}
.isi-konten .lokasi{
    font-size: calc(.2vw + .8rem);
    margin: 5px 0 20px 0;
    color: #0d6efd;
    height: 20px;
    line-height: 20px;
    display: flex;
}
.isi-konten .lokasi i{
    line-height: 20px;
    margin-right: 10px;
}
.isi-konten .jobdesc p{
    font-size: calc(.2vw + .8rem);
    color: gray;
}
.tombol-lengkap{
    margin-top: 50px;
}
.tombol-lengkap a{
    font-size: calc(.2vw + .8rem);
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}
.tombol-lengkap a:hover{
    color: grey;
    font-weight: lighter;
}