#kelompok-usaha{
    margin: 150px 0 0 0;
}
#kelompok-usaha .container .title h3{
    font-size: calc(1vw + 1rem);
    margin-bottom: 100px;
    text-align: center;
    font-weight: lighter;
    color: darkblue;
}
.content-kua .kua{
    min-height: 350px;
    width: 100%;
    display: flex;
    margin: 0 0 50px 0;
}
.content-kua .ganjil{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content-kua .genap{
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.kua .thumbnail-kua{
    margin: 0 0 15px 0;
    height: 100%;
    min-width: 50%;
    display: flex;
    justify-content: center;
}
.kua .thumbnail-kua img{
    margin: auto;
}
.kua .title-kua h4{
    margin: 0 0 15px 0;
    font-size: calc(.7vw + 1rem);
    font-weight: lighter;
    color: darkblue;
}
.kua .desc-kua{
    height: 100%;
    min-width: 50%;
}
.kua .desc-kua .desc-singkat p{
    font-size: calc(.2vw + .8rem);
    color: gray;
}
.more-kua{
    margin: 0 0 0 25px;
    text-decoration: none;
    color: mediumblue;
    font-size: calc(.5vw + .7rem);
    font-weight: bold;
    font-family: arial;
    transition: .3s;
}
.more-kua:hover{
    margin: 0;
    color: black;
}
.line-bottom-kua{
    margin-top: 3px;
    background-color: yellow;
    width: 10%;
    height: 3px;
}