nav .login-user{
    padding-left: 10px;
}
#login-form{
    padding: 150px 0 0 0;
    margin: auto;
}
.content-login{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logo-login{
    max-width: 450px;
    margin: 10px;
    justify-content: center;
}
.form-login{
    max-width: 700px;
    margin: 10px;
    justify-content: center;
}
.title-login h3{
    font-size: calc(.5vw + 1.5rem);
    font-weight: bold;
    margin-bottom: 15px;
}
.login-desc p{
    font-size: calc(.3vw + .7rem);
}
.form{
    margin-bottom: 15px;
    width: calc(25vw + 15rem);
}
.form form button{
    background-color: #0d6efd;
    color: white;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 25px;
    transition: .3s;
}
.form form button:hover{
    background-color: transparent;
    color: #0d6efd;
    border: solid 1px;
    border-color: #0d6efd;
}
.forgot-pw a{
    font-size: calc(.3vw + .7rem);
    font-weight: lighter;
    text-decoration: none;
}
.forgot-pw a:hover{
    text-decoration: underline;
}
.dont-have{
    text-align: center;
}
.dont-have p{
    font-size: calc(.3vw + .7rem);
}
.dont-have p a{
    text-decoration: none;
}
.dont-have p a:hover{
    text-decoration: underline;
}