#produk-banner{
    margin-top: 60px;
    width: 100%;
}
#produk{
    margin-top: 75px;
}
#produk .container .judul h2{
    margin-bottom: 50px;
    text-align: center;
    font-weight: lighter;
    color: darkblue;
}
#produk .container .content-produk{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.content-produk a{
    text-decoration: none;
    color: darkblue;
    text-align: center;
}
.content-produk a div{
    padding: 55px 0;
    width: 260px;
    height: 260px;
    box-shadow: 0 0 10px -5px black;
    margin: 30px;
}
.content-produk a div i{
    margin-bottom: 1rem;
    font-size: 5rem;
}
.content-produk a div h5{
    font-weight: lighter;
    margin: 0;
}
.content-produk a div h4{
    font-weight: bold;
    margin: 0;
}
#prosedur{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    background-image: url(img/wave-bg.png);
    margin-top: 75px;
    padding: 10%;
}
#prosedur .container .judul h2{
    margin-bottom: 75px;
    text-align: center;
    font-weight: lighter;
    color: darkblue;
}
#prosedur .container .induk-langkah{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#prosedur .container .induk-langkah .number{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.induk-langkah .number div{
    width: 50px;
    height: 50px;
    margin: 0 100px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    border-radius: 50%;
}