body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

nav {
  z-index: 50;
  position: fixed;
  top: 0px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
}

nav .logo img {
  margin: 0;
  max-height: 50px;
}

nav ul {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav ul li a.navbar-link {
  color: gray;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
}

nav ul li a.navbar-link .line-navlink {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #008de6;
  border-radius: 5px;
  width: 100%;
  height: 2.5px;
  -webkit-transition: .3s;
  transition: .3s;
}

nav ul li a:hover .line-navlink {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav ul li.navbar-drop:hover .line-navlink {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav ul li a:hover {
  color: #008de6;
}

nav ul li.navbar-drop:hover a {
  color: #008de6;
}

nav ul li.navbar-drop ul.menu {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  visibility: hidden;
  opacity: 0;
  height: 150px;
  width: 200px;
  position: absolute;
  top: 0;
  margin: 60px 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  border: 1px solid #d4d4d4;
  -webkit-transition: .3s;
  transition: .3s;
}

nav ul li.navbar-drop ul.menu::before {
  content: "";
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  background: inherit;
  position: absolute;
  top: -7px;
  right: 160px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}

nav ul li.navbar-drop:hover ul.menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

nav ul li.navbar-drop i {
  -webkit-transition: .3s;
  transition: .3s;
}

nav ul li.navbar-drop:hover i {
  rotate: 180deg;
}

nav ul li.navbar-drop ul.menu li a {
  text-decoration: none;
  color: gray;
  -webkit-transition: .3s;
  transition: .3s;
}

nav ul li.navbar-drop ul.menu li a:hover {
  color: #008de6;
  text-decoration: underline;
}

nav ul li.active a {
  color: #008de6;
}

nav ul li.active a .line-navlink {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-toggle {
  z-index: 10;
  display: none;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu-toggle :hover span {
  background-color: #008de6;
}

.menu-toggle input {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 15;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: gray;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-toggle span:nth-child(2) {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  -webkit-transform: rotate(45deg) translate(-2.5px, -2.5px);
          transform: rotate(45deg) translate(-2.5px, -2.5px);
  background-color: #008de6;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(-1px, 0px);
          transform: rotate(-45deg) translate(-1px, 0px);
  background-color: #008de6;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (max-width: 1350px) {
  nav ul {
    width: 50%;
  }
  #bio-home-page .container .content-bio {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 1200px) {
  nav ul {
    width: 60%;
  }
}

@media screen and (max-width: 1050px) {
  nav ul {
    width: 70%;
  }
  #produk .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #produk .container .card-left, #produk .container .card-center, #produk .container .card-right {
    max-height: 450px;
  }
  #produk .container .card-left .logo, #produk .container .card-center .logo, #produk .container .card-right .logo {
    margin-top: 40px;
  }
  #lembaga .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #berita .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  nav ul {
    width: 75%;
  }
  #footer .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: toggleAnimasi 1s ease 1 forwards;
            animation: toggleAnimasi 1s ease 1 forwards;
  }
  @-webkit-keyframes toggleAnimasi {
    from {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes toggleAnimasi {
    from {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  nav ul {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    margin-top: 0;
    z-index: -1;
    position: absolute;
    height: 5px;
    width: 5px;
    right: 0;
    top: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: transparent;
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  nav ul li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  nav ul li.navbar-drop {
    width: 100%;
  }
  nav ul li.navbar-drop ul.menu {
    -webkit-animation: dropAnimationBack 1s ease 1 forwards;
            animation: dropAnimationBack 1s ease 1 forwards;
  }
  @-webkit-keyframes dropAnimationBack {
    from {
      margin: 15px 0 0 0;
      z-index: 50;
      padding-left: 50px;
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
              justify-content: space-evenly;
      border-radius: 5px;
      border: none;
      background-color: white;
      display: -webkit-box;
      display: flex;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      position: relative;
      height: 150px;
    }
    to {
      display: none;
      -webkit-transform: translateY(-10%);
              transform: translateY(-10%);
      position: relative;
      opacity: 0;
      height: 0;
      margin: 15px 0 0 0;
      z-index: 50;
      padding-left: 50px;
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
              justify-content: space-evenly;
      border-radius: 0;
      border: none;
      background: transparent;
    }
  }
  @keyframes dropAnimationBack {
    from {
      margin: 15px 0 0 0;
      z-index: 50;
      padding-left: 50px;
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      border-radius: 5px;
      border: none;
      background-color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      position: relative;
      height: 150px;
    }
    to {
      display: none;
      -webkit-transform: translateY(-10%);
              transform: translateY(-10%);
      position: relative;
      opacity: 0;
      height: 0;
      margin: 15px 0 0 0;
      z-index: 50;
      padding-left: 50px;
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      border-radius: 0;
      border: none;
      background: transparent;
    }
  }
  nav ul li.navbar-drop:hover ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: dropAnimation 1s ease 1 forwards;
            animation: dropAnimation 1s ease 1 forwards;
  }
  @-webkit-keyframes dropAnimation {
    from {
      display: none;
      -webkit-transform: translateY(-10%);
              transform: translateY(-10%);
      position: relative;
      opacity: 0;
      height: 0;
      margin: 15px 0 0 0;
      z-index: 50;
      padding-left: 50px;
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
              justify-content: space-evenly;
      border-radius: 0;
      border: none;
      background: transparent;
      -webkit-box-shadow: 0 0 10px 10px black;
              box-shadow: 0 0 10px 10px black;
    }
    to {
      margin: 15px 0 0 0;
      z-index: 50;
      padding-left: 50px;
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
              justify-content: space-evenly;
      border-radius: 5px;
      border: none;
      background-color: white;
      display: -webkit-box;
      display: flex;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      position: relative;
      height: 150px;
      -webkit-box-shadow: 0 0 10px -2px darkgrey;
              box-shadow: 0 0 10px -2px darkgrey;
    }
  }
  @keyframes dropAnimation {
    from {
      display: none;
      -webkit-transform: translateY(-10%);
              transform: translateY(-10%);
      position: relative;
      opacity: 0;
      height: 0;
      margin: 15px 0 0 0;
      z-index: 50;
      padding-left: 50px;
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      border-radius: 0;
      border: none;
      background: transparent;
      -webkit-box-shadow: 0 0 10px 10px black;
              box-shadow: 0 0 10px 10px black;
    }
    to {
      margin: 15px 0 0 0;
      z-index: 50;
      padding-left: 50px;
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      border-radius: 5px;
      border: none;
      background-color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      position: relative;
      height: 150px;
      -webkit-box-shadow: 0 0 10px -2px darkgrey;
              box-shadow: 0 0 10px -2px darkgrey;
    }
  }
  nav ul li.navbar-drop ul.menu::before {
    display: none;
  }
  nav ul li.navbar-drop ul.menu li a {
    text-decoration: none;
    color: gray;
    -webkit-transition: .3s;
    transition: .3s;
  }
  nav ul li.navbar-drop a.navbar-link .line-navlink {
    width: calc(1vw + 3.3rem);
  }
  nav .slide {
    -webkit-box-shadow: inset 0px 10px 5px -10px black;
            box-shadow: inset 0px 10px 5px -10px black;
    visibility: visible;
    opacity: 1;
    height: 75vh;
    width: 100%;
    margin-top: 70px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  section #home-banner {
    top: 0px;
    position: absolute;
    z-index: -2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  section #bio-home-page {
    top: calc(32vw + 5rem);
    position: absolute;
    z-index: -2;
    width: 100%;
  }
  section #statistik {
    top: calc(32vw + 5rem);
    position: absolute;
    z-index: -2;
    width: 100%;
  }
  #statistik .container {
    padding: 0 50px;
  }
  #statistik .container .asset {
    position: relative;
    bottom: -150px;
  }
  .slide-container .slide-content {
    margin: 0 10px;
  }
  .slide-container .swiper-navBtn {
    display: none;
  }
}

#home-banner {
  margin: calc(1vw + 7rem) 0 calc(1vw + 3rem) 0;
  max-height: 700px;
}

#bio-home-page {
  width: 100%;
  margin: calc(1vw + 3rem) auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bio-home-page .container .content-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#bio-home-page .container .content-bio .title-n-desc {
  margin: 0 15px;
  width: 100%;
}

#bio-home-page .container .content-bio .bio-thumb {
  margin: 0 15px;
  width: 100%;
}

#bio-home-page .container .content-bio .bio-thumb img {
  width: 100%;
}

#bio-home-page .container .content-bio .title-bio {
  font-size: calc(1.5vw + 1.5rem);
  margin: 15px auto;
  color: #006aad;
}

#bio-home-page .container .content-bio .bio-paragraf {
  font-size: calc(.1vw + .9rem);
  color: grey;
}

#bio-home-page a.more-btn {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-align: center;
  color: #006aad;
  font-size: 1.2rem;
}

#bio-home-page a.more-btn .bg-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #006aad;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

#bio-home-page a.more-btn .bg-btn i.fa-arrow-right {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#bio-home-page a.more-btn .bg-btn i.fa-angle-right {
  -webkit-transition: 1s;
  transition: 1s;
}

#bio-home-page a.more-btn .text-btn {
  margin-left: 50px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  font-weight: 500;
  color: #006aad;
  -webkit-transition: 1s;
  transition: 1s;
}

#bio-home-page a.more-btn:hover .bg-btn {
  width: 200px;
}

#bio-home-page a.more-btn:hover .bg-btn i.fa-arrow-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  visibility: visible;
}

#bio-home-page a.more-btn:hover .bg-btn i.fa-angle-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

#bio-home-page a.more-btn:hover .text-btn {
  color: white;
}

#statistik {
  margin: calc(1vw + 3rem) auto;
  min-height: 100px;
  width: 100%;
  background-color: white;
}

#statistik .title {
  text-align: center;
  font-size: calc(1.5vw + 1.5rem);
  margin: calc(1vw + 2rem);
  color: #006aad;
}

#statistik .container {
  min-height: 350px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#statistik .container .content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  max-height: 250px;
  width: 250px;
  background-color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

#statistik .container .content h1 {
  font-size: calc(1vw + 2.5rem);
  color: #008de6;
}

#statistik .container .content h3 {
  font-size: calc(1vw + 1rem);
  color: #4a4a4a;
}

#statistik .container .content h5 {
  font-size: calc(.5vw + .7rem);
  color: #4a4a4a;
  opacity: 50%;
}

#produk {
  margin: calc(1vw + 3rem) auto;
  min-height: 600px;
  width: 100%;
}

#produk .title {
  text-align: center;
  font-size: calc(1.5vw + 1.5rem);
  margin: calc(1vw + 2rem);
  color: #006aad;
}

#produk .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#produk .container .card-left, #produk .container .card-right {
  height: 500px;
  width: 90%;
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -5px black;
          box-shadow: 5px 5px 15px -5px black;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

#produk .container .card-left .logo, #produk .container .card-right .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  color: #71bc4c;
  font-size: calc(1vw + 3rem);
}

#produk .container .card-left h5.mini-title, #produk .container .card-right h5.mini-title {
  text-align: center;
  color: #006aad;
  font-size: calc(1vw + 1rem);
  font-weight: 500;
}

#produk .container .card-left .desc, #produk .container .card-right .desc {
  width: 75%;
  color: gray;
  font-size: calc(.1vw + .9rem);
}

#produk .container .card-left a.button-more, #produk .container .card-right a.button-more {
  background-color: #008de6;
  color: white;
  width: 150px;
  height: 40px;
  line-height: 39px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#produk .container .card-left a.button-more:hover, #produk .container .card-right a.button-more:hover {
  background-color: transparent;
  color: #008de6;
  border: 1px solid #008de6;
  width: 150px;
  height: 40px;
  line-height: 37px;
  text-decoration: none;
  border-radius: 5px;
}

#produk .container .card-left .line-bottom, #produk .container .card-right .line-bottom {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  background-color: aqua;
  width: 100%;
  height: 2%;
  background-image: -webkit-gradient(linear, left top, right top, from(aqua), to(#0d6efd));
  background-image: linear-gradient(90deg, aqua, #0d6efd);
}

#produk .container .card-center {
  height: 550px;
  width: 90%;
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -5px black;
          box-shadow: 5px 5px 15px -5px black;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

#produk .container .card-center .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
  color: #71bc4c;
  font-size: calc(1vw + 3rem);
}

#produk .container .card-center h5.mini-title {
  text-align: center;
  color: #006aad;
  font-size: calc(1vw + 1rem);
  font-weight: 500;
}

#produk .container .card-center .desc {
  width: 75%;
  color: gray;
  font-size: calc(.1vw + .9rem);
}

#produk .container .card-center a.button-more {
  background-color: #008de6;
  color: white;
  width: 150px;
  height: 40px;
  line-height: 39px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#produk .container .card-center a.button-more:hover {
  background-color: transparent;
  color: #008de6;
  border: 1px solid #008de6;
  width: 150px;
  height: 40px;
  line-height: 37px;
  text-decoration: none;
  border-radius: 5px;
}

#produk .container .card-center .line-bottom {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  background-color: aqua;
  width: 100%;
  height: 2%;
  background-image: -webkit-gradient(linear, left top, right top, from(aqua), to(#0d6efd));
  background-image: linear-gradient(90deg, aqua, #0d6efd);
}

#produk .container .card-left:hover, #produk .container .card-right:hover, #produk .container .card-center:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#lembaga {
  margin: 0 auto;
  min-height: 400px;
  width: 100%;
}

#lembaga .title {
  text-align: center;
  font-size: calc(1.5vw + 1.5rem);
  margin: calc(1vw + 2rem);
  color: #006aad;
}

#lembaga .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lembaga .container .card {
  margin: 5px;
  height: 230px;
  width: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lembaga .container .card img {
  margin: auto;
  max-width: 200px;
  -webkit-transition: 1s;
  transition: 1s;
}

#lembaga .container a.more-btn {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  text-align: center;
  color: #4a4a4a;
  -webkit-transition: 1s;
  transition: 1s;
}

#lembaga .container a.more-btn:hover {
  color: #0d6efd;
}

#lembaga .card:hover a.more-btn {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

#lembaga .card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#berita {
  margin: calc(1vw + 3rem) auto;
  min-height: 600px;
  width: 100%;
}

#berita .title {
  text-align: center;
  font-size: calc(1.5vw + 1.5rem);
  margin: calc(1vw + 2rem);
  color: #006aad;
}

#berita .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#berita .container .card {
  margin: 15px;
  border: none;
  background-image: url(../img/thumbnail/berita/kegiatan.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px -15px black;
          box-shadow: 10px 10px 20px -15px black;
}

#berita .container .card .text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 25%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  padding: 20px 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

#berita .container .card .text-card .title-news {
  position: absolute;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 30px 25px 30px;
  opacity: 1;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

#berita .container .card .text-card .desc {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  visibility: hidden;
  opacity: 1;
  color: black;
}

#berita .container .card .text-card a.more-btn {
  visibility: hidden;
  opacity: 0;
  margin-top: 25px;
  opacity: 1;
  text-align: center;
  line-height: 36px;
  padding: 0 13px;
  height: 40px;
  width: 150px;
  border: 1px solid white;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

#berita .container .card .text-card a.more-btn:hover {
  border: none;
  background-color: white;
  color: #0d6efd;
}

#berita .container .card .text-card:hover {
  height: 100%;
  background: rgba(13, 110, 253, 0.8);
}

#berita .container .card .text-card:hover a.more-btn {
  visibility: visible;
  opacity: 1;
}

#berita .container .card .text-card:hover .desc {
  visibility: visible;
  opacity: 1;
  color: white;
}

#berita .container .card .text-card:hover .title-news {
  position: static;
  margin: 10px 0 25px 0;
  opacity: 1;
  color: white;
}

#footer {
  padding: 50px 0px 0 0px;
  background-color: #006aad;
}

#footer .container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .container .footer-profile {
  margin: 25px 0;
}

#footer .container .footer-profile .road-addres p {
  color: #eeeeee;
  margin: 0;
  font-size: calc(.2vw + .8rem);
}

#footer .container .footer-profile .contact {
  margin-top: 20px;
}

#footer .container .footer-profile .contact .call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .container .footer-profile .contact .call-center h6 {
  margin-right: 10px;
  font-size: calc(.2vw + .8rem);
}

#footer .container .footer-profile .contact .call-center p {
  color: #eeeeee;
  font-size: calc(.2vw + .8rem);
}

#footer .container .footer-profile .contact .office-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .container .footer-profile .contact .office-email h6 {
  margin-right: 10px;
  font-size: calc(.2vw + .8rem);
}

#footer .container .footer-profile .contact .office-email p {
  color: #eeeeee;
  font-size: calc(.2vw + .8rem);
}

#footer .container .footer-profile .contact .manager-phone p {
  color: #eeeeee;
  margin: 0;
  font-size: calc(.2vw + .8rem);
}

#footer .container .footer-link {
  margin: 20px 0;
}

#footer .container .footer-link .list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .container .footer-link .list-link a {
  color: #eeeeee;
  text-decoration: none;
  font-size: calc(.2vw + 1rem);
  margin: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#footer .container .footer-link .list-link a .line-footlink {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 2.5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer .container .footer-link .list-link a:hover {
  color: white;
}

#footer .container .footer-link .list-link a:hover .line-footlink {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#footer .container .footer-sosmed {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0;
}

#footer .container .footer-sosmed .list-sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .container .footer-sosmed .list-sosmed a {
  color: #eeeeee;
  text-decoration: none;
  font-size: calc(.2vw + 1.8rem);
  -webkit-transition: .3s;
  transition: .3s;
}

#footer .container .footer-sosmed .list-sosmed a:hover {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
}

#footer .lisence-footer {
  margin-top: 35px;
  min-height: 35px;
  width: 100%;
  background-color: #eeeeee;
  font-size: calc(.3vw + .4rem);
  padding: 8px 0 0 0;
}

#footer .lisence-footer p {
  text-align: center;
}

#footer .lisence-footer a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer .lisence-footer a img {
  opacity: .2;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer .lisence-footer a:hover {
  font-weight: 500;
  color: black;
}

#footer .lisence-footer a:hover img {
  opacity: 1;
}

#about-banner {
  height: calc(15vw + 5rem);
  width: 100%;
  background-image: url(../img/about-page/banner/banner-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 4.4rem 0 calc(1vw + 3rem) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#about-banner .container .title-banner h1 {
  font-size: calc(2vw + 1rem);
  font-weight: bold;
  color: #ffffff;
}

#about-banner .container .title-banner p {
  font-weight: 500;
  color: #ffffff;
  font-size: calc(.54vw + .26rem);
}

#biografi {
  width: 100%;
}

#biografi .container .title-about {
  margin: 0 0 1vw 0;
}

#biografi .container .title-about h1 {
  font-size: calc(1.5vw + 1.5rem);
  color: #006aad;
}

#biografi .container .desc-about p {
  color: grey;
  font-size: calc(.3vw + .7rem);
}

#biografi .container .desc-about span {
  margin-right: 30px;
}

#visi-misi {
  min-height: 650px;
  width: 100%;
  margin-top: calc(2vw + 3rem);
}

#visi-misi .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/about-page/banner/banner-visi-misi.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#visi-misi .container .misi {
  max-width: 650px;
}

#visi-misi .container .misi .title h3 {
  color: #006aad;
  font-size: calc(1vw + 1rem);
}

#visi-misi .container .misi p {
  color: grey;
  font-size: calc(.3vw + .7rem);
}

#struktur {
  min-height: 750px;
  margin: 0 50px 100px 50px;
}

#struktur .container-fluid {
  width: 100%;
  padding: 0;
}

#struktur .container-fluid .title {
  margin: 0 0 5vw 0;
  text-align: center;
}

#struktur .container-fluid .title h1 {
  font-size: calc(2vw + 1rem);
  color: #006aad;
}

#struktur .container-fluid .content .pohon-struktur {
  position: relative;
  display: inline-block;
  width: 100%;
}

#struktur .container-fluid .content .pohon-struktur .zoomable {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

#struktur .container-fluid .content .pohon-struktur .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

#struktur .container-fluid .content .zoomed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

#struktur .container-fluid .content .zoomed .overlay {
  opacity: 1;
  visibility: visible;
}

#struktur .container-fluid .content .pengurus {
  margin: 50px 0 0 0;
}

#struktur .container-fluid .content .pengurus .title h2 {
  color: #006aad;
  font-size: calc(1vw + 1rem);
}

#struktur .container-fluid .content .pengurus .title h6 {
  color: gray;
  font-size: calc(.5vw + .5rem);
}

#struktur .container-fluid .content .pengurus .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1120px;
  width: 100%;
  padding: 0 0 40px 0;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus {
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card {
  width: 100%;
  border-radius: 25px;
  background-color: white;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .image-content .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #008de6;
  border-radius: 25px 25px 0 25px;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .image-content .overlay::before,
#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .image-content .overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #008de6;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .image-content .overlay::after {
  border-radius: 0 25px 0 0;
  background-color: white;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .image-content .card-image {
  position: relative;
  height: calc(10vw + 5rem);
  width: calc(10vw + 5rem);
  border-radius: 50%;
  background: white;
  padding: 3px;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .image-content .card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid #008de6;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .card-content .name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .card-content .description {
  font-size: 14px;
  color: #333;
  text-align: center;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .card-content .button {
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: #008de6;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#struktur .container-fluid .content .pengurus .slide-container .slide-content-pengurus .card-wrapper .card .card-content button:hover {
  background-color: #707070;
}

#struktur .container-fluid .content .pengurus .slide-container .swiper-navBtn {
  color: gray;
  opacity: .5;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#struktur .container-fluid .content .pengurus .slide-container .swiper-navBtn:hover {
  color: black;
}

#struktur .container-fluid .content .pengurus .slide-container .swiper-navBtn::before,
#struktur .container-fluid .content .pengurus .slide-container .swiper-navBtn::after {
  font-size: 35px;
}

#struktur .container-fluid .content .pengurus .slide-container .swiper-button-next {
  right: 0;
}

#struktur .container-fluid .content .pengurus .slide-container .swiper-button-prev {
  left: 0;
}

#struktur .container-fluid .content .pengurus .slide-container .swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: .5;
}

#struktur .container-fluid .content .pengurus .slide-container .swiper-pagination-bullet-active {
  background-color: #4070F4;
}

#struktur .container-fluid .content .pengawas {
  margin: 50px 0 0 0;
}

#struktur .container-fluid .content .pengawas .title h2 {
  color: #006aad;
  font-size: calc(1vw + 1rem);
}

#struktur .container-fluid .content .pengawas .title h6 {
  color: gray;
  font-size: calc(.5vw + .5rem);
}

#struktur .container-fluid .content .pengawas .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1120px;
  width: 100%;
  padding: 0 0 40px 0;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas {
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card {
  width: 100%;
  border-radius: 25px;
  background-color: white;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .image-content .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #008de6;
  border-radius: 25px 25px 0 25px;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .image-content .overlay::before,
#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .image-content .overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #008de6;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .image-content .overlay::after {
  border-radius: 0 25px 0 0;
  background-color: white;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .image-content .card-image {
  position: relative;
  height: calc(10vw + 5rem);
  width: calc(10vw + 5rem);
  border-radius: 50%;
  background: white;
  padding: 3px;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .image-content .card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid #008de6;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .card-content .name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .card-content .description {
  font-size: 14px;
  color: #333;
  text-align: center;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .card-content .button {
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: #008de6;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#struktur .container-fluid .content .pengawas .slide-container .slide-content-pengawas .card-wrapper .card .card-content button:hover {
  background-color: #707070;
}

#struktur .container-fluid .content .pengawas .slide-container .swiper-navBtn {
  color: gray;
  opacity: .5;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#struktur .container-fluid .content .pengawas .slide-container .swiper-navBtn:hover {
  color: black;
}

#struktur .container-fluid .content .pengawas .slide-container .swiper-navBtn::before,
#struktur .container-fluid .content .pengawas .slide-container .swiper-navBtn::after {
  font-size: 35px;
}

#struktur .container-fluid .content .pengawas .slide-container .swiper-button-next {
  right: 0;
}

#struktur .container-fluid .content .pengawas .slide-container .swiper-button-prev {
  left: 0;
}

#struktur .container-fluid .content .pengawas .slide-container .swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: .5;
}

#struktur .container-fluid .content .pengawas .slide-container .swiper-pagination-bullet-active {
  background-color: #4070F4;
}

#struktur .container-fluid .content .penasehat {
  margin: 50px 0 0 0;
}

#struktur .container-fluid .content .penasehat .title h2 {
  color: #006aad;
  font-size: calc(1vw + 1rem);
}

#struktur .container-fluid .content .penasehat .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1120px;
  width: 100%;
  padding: 0 0 40px 0;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat {
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card {
  width: 100%;
  border-radius: 25px;
  background-color: white;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .image-content .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #008de6;
  border-radius: 25px 25px 0 25px;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .image-content .overlay::before,
#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .image-content .overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #008de6;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .image-content .overlay::after {
  border-radius: 0 25px 0 0;
  background-color: white;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .image-content .card-image {
  position: relative;
  height: calc(10vw + 5rem);
  width: calc(10vw + 5rem);
  border-radius: 50%;
  background: white;
  padding: 3px;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .image-content .card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid #008de6;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .card-content .name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .card-content .description {
  font-size: 14px;
  color: #333;
  text-align: center;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .card-content .button {
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: #008de6;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#struktur .container-fluid .content .penasehat .slide-container .slide-content-penasehat .card-wrapper .card .card-content button:hover {
  background-color: #707070;
}

#struktur .container-fluid .content .penasehat .slide-container .swiper-navBtn {
  color: gray;
  opacity: .5;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#struktur .container-fluid .content .penasehat .slide-container .swiper-navBtn:hover {
  color: black;
}

#struktur .container-fluid .content .penasehat .slide-container .swiper-navBtn::before,
#struktur .container-fluid .content .penasehat .slide-container .swiper-navBtn::after {
  font-size: 35px;
}

#struktur .container-fluid .content .penasehat .slide-container .swiper-button-next {
  right: 0;
}

#struktur .container-fluid .content .penasehat .slide-container .swiper-button-prev {
  left: 0;
}

#struktur .container-fluid .content .penasehat .slide-container .swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: .5;
}

#struktur .container-fluid .content .penasehat .slide-container .swiper-pagination-bullet-active {
  background-color: #4070F4;
}
/*# sourceMappingURL=main.css.map */